{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h3><a> Formation </a></h3>
    <table id="formation">
        <thead>
            <th>Titre</th>
        </thead>
        {% for item in items %}
            <tbody>
                <td></td>
            </tbody>
        {% endfor %}
        
    </table>
    <h3><a> Session </a></h3>
    <table id="session">
        <thead>
            <th>INTITULE</th>
            <th>NOMBRE DE PLACE</th>
            <th>DATE PREVUE</th>
            <th>MODULE</th>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="{{ path('edit') }}">Modifier</a></td>
                    <td>X suprimer</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
