<div id="delete-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span id="close" class="w3-button w3-display-topright">&times;</span>

            <div class="w3-row"><p>Confirmer la suppression ?</p></div>

            <a href="#" id="delete-link" class="w3-button w3-indigo w3-hover-purple w3-margin-bottom">Valider</a>
        </div>
    </div>
</div>