{% extends 'base.html.twig' %}

<table id="session">
        <thead>
            <th>INTITULE</th>
            <th>NOMBRE DE PLACE</th>
            <th>DATE PREVUE</th>
            <th>MODULE</th>
        </thead>
        <tbody>
            {% for in  %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </tbody>
    </table>