{% extends "base.html.twig" %}

{% block body %}
    <p>Erreur 404 : La page n'a pas été trouvée.</p>

    <p>Veuillez revenir à la <a href="{{ path('index') }}">page d'accueil</a>.</p>
{% endblock %}